<div class="container">
  <div class="row" id="info">
    <div class="col-12 col-md-4 mx-auto p-5 mt-5">
      <h1 class="text-center mb-3"> Payment Info </h1>
      <%= form_with model: @order do |form| %>
        <%= form.text_field :street, class: "form-control", placeholder: "No22 opoku nsiah", required: true%>
        <%= form.text_field :zipcode, class: "form-control mt-2" , placeholder: "Account(210210201012)", required: true%>
        <%= form.text_field :country, class: "form-control mt-2", placeholder: "Ghana", required: true%>
        <%= form.text_field :name, class: "form-control mt-2", placeholder: "Addo", required: true%>
        <%= form.text_field :email, class: "form-control mt-2", placeholder: "addoboakyeforison@gmail.com"%>
        <%= form.submit class: "btn btn-warning mt-3 col-12"%>
      <% end %>
    </div>
  </div>

  <div class="row" id="payment">
    <div class="col-12 col-md-4 mx-auto p-5 mt-5">
      <h1 class="text-center mb-3"> Payment Details </h1>
      <p id="payment-info"><p>
      <%= form_with model: @order do |form| %>
        <%= form.text_field :account, class: "form-control account", placeholder: "Account(210210201012)"%>
        <%= form.text_field :bank, class: "form-control mt-2 bank", placeholder: "Barclays bank"%>
        <%= form.submit class: "btn btn-warning mt-3 col-12", id: "payment-but"%>
      <% end %>
    </div>
  </div>

  <div class="row" id="finish">
  <div class="col-12 col-md-4 mx-auto p-5 mt-5">
    <h1 class="text-center mb-3"> Proceed to Checkout </h1>
    <p id="finish-info"><p>
    <%= form_with model: @order do |form| %>
      <%= form.submit 'Finish', class: "btn btn-warning mt-3 col-12", id: "finish-but"%>
    <% end %>
  </div>
</div>
<div class= "text-center">
  <%= link_to 'Show', @order %> |
  <%= link_to 'Back', products_path %>
</div>
</div>